Source: mkos
Section: devel
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: mkos
Architecture: all
Depends: multistrap, python, python-support (>= 0.90), ${misc:Depends}
Description: Make operating system images
 mkos builds operating system images for embedded systems using
 multistrap.
 .
 This package is a part of Pragmatux (http://pragmatux.org).
